<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
      <%= posting.headline %>
    </div>
  </div>
  <div class="panel-body">
    <%= posting.body %>
  </div>
  <div class="panel-footer">
    <%= posting.user.name %> at <%= posting.timestamp %>
  </div>
</div>