<h1>Add jobs board</h1>

<%= form_for @jobs_board, html: {class: "form-horizontal new_jobs_board"} do |f| %>
    <div class="form-group">
      <%= f.label :keyword, class: 'col-md-2 control-label' %>
      <div class="col-md-8">
        <%= f.text_field :keyword, autofocus: true, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :description, class: 'col-md-2 control-label' %>
      <div class="col-md-8">
        <%= f.text_field :description, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-offset-2 col-md-10">
        <%= f.submit "Add Board", class: 'btn btn-primary' %>
      </div>
    </div>
<% end %>


