<div class="row">
  <div class="col-md-8">
    <h1><%= @jobs_board.keyword %> - <%= @jobs_board.description %> </h1>
  </div>
  <div class="col-md-4 text-muted" id="connection_status">
    [UNKNOWN STATUS]
  </div>
</div>

<%= form_for @posting, url: '#', html: {class: "form-horizontal new_posting"} do |f| %>
    <div class="form-group">
      <%= f.label :headline, class: 'col-md-2 control-label' %>
      <div class="col-md-8">
        <%= f.text_field :headline, class: 'form-control' %>
      </div>
      <small class="text-muted">From 2 to 80 characters</small>
    </div>
    <div class="form-group">
      <%= f.label :body, class: 'col-md-2 control-label' %>
      <div class="col-md-8">
      <%= f.text_area :body, class: 'form-control' %>
      </div>
      <small class="text-muted">From 2 to 1000 characters</small>
    </div>
    <div class="form-group">
      <div class="col-md-offset-2 col-md-10">
        <%= f.submit "Post", class: 'btn btn-primary btn-lg' %>
      </div>
    </div>
<% end %>

<div id="postings" data-jobs-board-id="<%= @jobs_board.id %>">
  <%= render @jobs_board.postings.reverse_order %>
</div>


